<?php
return array(
    'audit' => array(
        'datetime.format' => 'r',
        'paginator.limit' => 20,
        
        'tableNamePrefix' => '',
        'tableNameSuffix' => '_audit',
        'revisionTableName' => 'Revision',
        'revisionEntityTableName' => 'RevisionEntity',
        
        'entities' => array(
            '',
        ),
        
        'entityDatamap' => array(
            '',
        ),
    ),
);

